#resource-node-form  #edit-field-resourc-topics-und .floatCol{float: left; width: 350px;padding-left: 10px; padding-top: 30px; border: 1px solid grey; border-width: 0 0 1px 0; }
/* #resource-node-form  #edit-field-resourc-topics-und .firstCol {padding-left: 350px; }
#resource-node-form  #edit-field-resourc-topics-und .secondCol {padding-left:700px; }
#resource-node-form  #edit-field-resourc-topics-und .thirdCol {padding-left:1050px; }
#resource-node-form  #edit-field-resourc-topics-und .fourthCol {padding-left: 1400px; }
#resource-node-form  #edit-field-resourc-topics-und .fifthCol {padding-left: 1750px; }
#resource-node-form  #edit-field-resourc-topics-und .sixthCol {margin-left: 0; }
#resource-node-form  #edit-field-resourc-topics-und .seventhCol {margin-left: 0; }
#resource-node-form  #edit-field-resourc-topics-und .eighthCol {margin-left: 0; }
#resource-node-form  #edit-field-resourc-topics-und .ninthCol {margin-left: 0; }
#resource-node-form  #edit-field-resourc-topics-und .tenthCol {margin-left: 0; } */
