/* redeploy */
body {
	font-size:16px;
	line-height:24px;
}

.navbar-brand {
	height:auto;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'museo-sans',sans-serif;
}


h3.block-title,h3.pane-title, h2.block-title, h2.pane-title {
	text-align:left;
	border-bottom:#ccc 1px solid;
	padding-bottom: 15px;
	text-transform:uppercase;
	font-family:'museo-sans-condensed',sans-serif;
	margin: 5px 0 10px;
}



/* utility */

.pb20 {padding-bottom:20px;}

/* Beta Alert Banner */

.beta-banner .alert {width:100%;margin-bottom: 10px;border-radius:0}


/* region-header*/

.region-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.donate-btn {
    margin-top: 10px;
    padding-right: 20px;
}

/* Section Banner */
#section_banner {
/* position: absolute; */
/* left: 0; */
/* top: 0; */
	margin-bottom:10px;
}

#section_banner p {
	line-height:2.5em;
	color:#fff;
	text-transform:uppercase;
	font-weight:800;
	font-size:42px;
	text-align:center;
}

.section-banner-block {
	background:url(../images/congruent_outline_bl-200px.png) repeat-x;
	width:100%;
  margin-top: -40px;
	border-top:#fff 1px solid;
	margin-bottom:20px;
}

/*----Home page panel blocks---*/
.tc-row2,.tc-row1right,.tc-row1left {
	margin-bottom:25px;
}

/*----------------------------*/

@media screen and (min-width: 768px)
.carousel-caption {
    position: absolute;
    top: 0!important;
    left: 0!important;
    background: rgba(50,50,50,0.4);
    text-align: left;
    display: block;
    width: 100%!important;
    height: 40%!important;
}

@media screen and (min-width: 768px)
.carousel-caption h3 {

    padding: 10px 15px;

}

@media screen and (min-width: 768px)
.carousel-indicators {
    bottom: 5px;
}


.carousel-caption h3 a {
    color: #fff;
}

.carousel-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    background: rgba(50,50,50,0.4);
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;
    width: 100%;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.carousel-caption h3 {padding:0 10px;}


.carousel-indicators {
    bottom: 5px;
}

.carousel-control .icon-next:before {
  font-family: "FontAwesome";
    content: '\f138';
     font-size: 40px;
}


.carousel-control .icon-prev:before {
  font-family: "FontAwesome";
      content: '\f137';
       font-size: 40px;
}



.carousel {
    position: relative;
    background-color: #20527C;
    padding-left: 20px;
    padding-right: 20px;
}


.btn-huge {
	padding:25px 0;
	font-size:1.2em;
	color:#fff;
	font-family:'museo-sans-condensed',sans-serif;
	text-decoration:none;
}

.btn-danger {
	background-color:#20527C;
	border:transparent;
	text-transform:uppercase;
	font-weight:500;
}

.btn-danger:hover {
	background-color:#C96B29;
  color:#fff;
}

.btn-info {
	background-color:#4C8EC9;
	border:none;
	text-transform:uppercase;
	font-weight:600;
}

.btn-info:hover {
	background-color:#C96B29;
  color:#fff;
}


.btn-purple{
	background-color:#5E2B7A;
	border:none;
	text-transform:uppercase;
	font-weight:600;
}



.btn-purple:hover , .btn-purple:focus{
	background-color:#20527C;
  color:#fff;
}

.btn-orange{
	background-color:#C96B29;
	border:none;
	text-transform:uppercase;
	font-weight:600;
}

.btn-orange:hover, .btn-orange:focus {
	background-color:#20527C;
  color:#fff;
}

.btn-gray:hover, .btn-gray:focus {
	background-color:#C96B1E;
  color:#fff;
}

.box-bg-gray p a:link {
    background-color: #fff;
    }

.btn-dk-blue{
	background-color:#20527C;;
	border:none;
	text-transform:uppercase;
	font-weight:600;
}

.btn-dk-blue:hover, .btn-dk-blue:focus{
	background-color:#C96B1E;
  color:#fff;
}

.btn-dk-blue p a:link {
    background-color: #fff;
    }

.page-college-search .main-container {
	margin-bottom:60px;
}

form#search-block-form {
	margin:0;
	margin-top:20px;
	float:right;
	width:20%;
}


table.details td {
	width:50%;
}

thead {
	border-top:10px solid #C96B29;
}

.navbar-form {
	margin-top:20px;
}

.navbar-form {
	margin-top:20px;
}


.site-header {
	padding-bottom:0;
}

td {
	color:#555;
}

form {
	display:block;
}

.filter-bar {
	padding:15px 20px;
	clear:both;
}

.filter-dropdown {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	z-index:2;
}

.filter-dropdown span.filter-label {
	color:#999;
}

@media screen and (max-width: 480px) {
	.program-description {
		font-size:8px;
		display:none;
	}
}

@media screen and (max-width: 990px) {
	.program-description {
		font-size:10px;
	}
}

a {
	color:#069;
}

.tab-widget {
	border-top:4px solid #C96B29;
	clear:both;
	margin-bottom:20px;
	padding:15px 20px;
	min-height:200px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border-top:10px solid #C96B29;
	-webkit-box-shadow:0 0 7px 0 #AAA;
	-moz-box-shadow:0 0 7px 0 #AAA;
	box-shadow:0 0 7px 0 #AAA;
}

.tab-widget__list li {
	display:inline-block;
	font-size:12px;
	margin:3px;
}

.tab-widget__list {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline;
}

.tab-widget__item a {
	border:1px solid #069;
	border-radius:50px;
	color:#069;
	display:block;
	padding:6px 8px;
	text-decoration:none;
	position:relative;
}

.tab-widget__item a:hover {
	background-color:#069;
	border-radius:50px;
	color:#fff;
	border:1px solid #069;
	text-decoration:none;
}

.tab-widget__link {
}

.tab-widget__link--active {
}

dl {
	width:90%;
	display:block;
	border-bottom:1px solid #000;
	padding:0 0 10px 5px;
}

dt {
	font-weight:700;
}

dd {
	padding-left:40px;
}

.tab-widget__tabs {
	padding:1em;
}

.tab-widget__tab-content {
	display:none;
}

.tab-widget__tab-content--active,.no-js .tab-widget__tab-content {
	display:block;
}

.visuallyhidden {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}

ul.nav-pills {
	top:150px;
	left:10px;
	position:fixed;
	width:auto;
}

header {
	background-color:#fff;
}

#menu-bar {
	background-color:#000;
	overflow:hidden;
	vertical-align:middle;
}

.view-header,.tc-node-last-updated {
	padding:5px;
	margin-bottom:10px;
	background-color:#f2f2f2;
}

.view-tc-resource-search .view-header {
	background-color:#fff;
}

.view-tc-resource-search .view-header .results-count {
	padding:5px;
	margin-bottom:10px;
	background-color:#f2f2f2;
}

/*** Landing Page -- hero image block ***/
.one-element {
	position:relative;
}

.one-element img {
	width:100%;
	height:auto;
}

.overlay {
	position:absolute;
	top:0;
	left:0;
	padding:10px 15px;
	background:rgba(50,50,50,0.4);
	text-align:left;
	display:block;
	width:42%;
	height:100%;
}

h1.headline {
	font-family:'lato',sans-serif;
	text-align:left;
	padding-left:10px;
	font-size:3em;
	color:#fff;
	font-style:italic;
}

@media (max-width: 1200px) {
	h1.headline {
		font-size:2em;
		color:#fff;
	}
}

@media (max-width: 979px) {
	h1.headline {
		font-size:1.5em;
		color:#fff;
	}
}

@media (max-width: 767px) {
	h1.headline {
		font-size:2em;
		color:#fff;
	}
}

@media (max-width: 480px) {
	h1.headline {
		font-size:1em;
		color:#fff;
	}
}

ul.latest {
	padding-left:0;
	margin-left:0;
}

ul.latest li {
	position:relative;
	display:block;
	padding:10px 5px;
	background-color:#fff;
	border-bottom:1px solid #ddd;
}

ul.latest li:last-child {
	border-bottom:none;
	padding-bottom:0;
}

/*----------------------------*/
/* Affinity Groups Page */
.page-node-3634 .page-title {
	display:none;
}

.join {
	font-size:2em;
	line-height:.5em;
	color:#fff;
}

.da {
	font-size:3em;
	line-height:.5em;
	color:#fff;
}

.convo {
	font-size:4em;
	line-height:.5em;
	color:#fff;
}

@media only screen and (max-width: 1000px) {
	.join {
		font-size:3rem;
		line-height:.6rem;
		color:#fff;
	}

	.da {
		font-size:4rem;
		line-height:.6rem;
		color:#fff;
	}

	.convo {
		font-size:5rem;
		line-height:.6rem;
		color:#fff;
	}
}

@media only screen and (max-width: 700px) {
	.join {
		font-size:2rem;
		line-height:.5rem;
		color:#fff;
	}

	.da {
		font-size:3rem;
		line-height:.5rem;
		color:#fff;
	}

	.convo {
		font-size:4rem;
		line-height:.5rem;
		color:#fff;
	}
}

.jc_lead {
}

.peeps {
	background:url(/sites/default/files/files/images/green.jpg);
	padding-top:1em;
	padding-bottom:1em;
}

.greyed {
	background:rgba(000,000,000,0.4);
}

@media only screen and (min-width : 992px) {
	.jc_nav {
		margin-top:6em;
		margin-bottom:3em;
	}
}

.fine {
	font-size:.8em;
}

.fine h2 {
	font-size:1.4em;
}

.fine h3 {
	font-size:1.2em;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
	from {
		opacity:0;
	}

	to {
		opacity:1;
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity:0;
	}

	to {
		opacity:1;
	}
}

@keyframes fadeIn {
	from {
		opacity:0;
	}

	to {
		opacity:1;
	}
}

.fade-in {
	opacity:0;
/* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;
/* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
/* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
	-webkit-animation-delay:.7s;
	-moz-animation-delay:.7s;
	animation-delay:.7s;
}

.fade-in.two {
	-webkit-animation-delay:1.2s;
	-moz-animation-delay:1.2s;
	animation-delay:1.2s;
}

.fade-in.three {
	-webkit-animation-delay:1.6s;
	-moz-animation-delay:1.6s;
	animation-delay:1.6s;
}

/*----------------------------*/




/* TPSID Projects Information page */
.three-column-list {
	-webkit-column-count:3;
	-moz-column-count:3;
	column-count:3;
	-webkit-column-width:100px;
	-moz-column-width:100px;
	column-width:100px;
	-webkit-column-gap:40px;
	-moz-column-gap:40px;
	column-gap:40px;
	-webkit-column-rule:1px solid #ccc;
	-moz-column-rule:1px solid #ccc;
	column-rule:1px solid #ccc;
}

.three-column-list li {
	list-style-position:inside!important;
}

ul.three-column-list li {
	border-bottom:#f2f2f2 solid 1px;
}

ul.three-column-list ul li {
	border-bottom:none;
}

.three-column-list li {
	margin:12px 0;
	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	-moz-page-break-inside:avoid;
	page-break-inside:avoid;
	break-inside:avoid-column;
}

li.shaded {
	background-color:#f2f2f2;
	padding:4px;
}

/* responsive google map embed */
.tpsid-map-overlay {
	background:transparent;
	position:relative;
	width:100%;
/* your iframe width */
	height:480px;
/* your iframe height */
	top:480px;
/* your iframe height */
	margin-top:-480px;
/* your iframe height */
}

@media only screen and (max-width: 480px) {
	.tpsid-map {
		display:none;
	}
}



@media (min-width: 768px) {

  .table-row {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;
  }

  .table-row  [class^="col-"] {
    display: table-cell;
    float: none;
    background-color:#fff;
    -webkit-box-shadow: 0 0 7px 0 #AAA;
    -moz-box-shadow: 0 0 7px 0 #AAA;
    box-shadow: 0 0 7px 0 #AAA;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border-top: 10px solid #C96B29;
    padding: 20px;
    margin-bottom: 25px;
  }
}

.equal-box {
    -webkit-box-shadow: 0 0 7px 0 #AAA;
    -moz-box-shadow: 0 0 7px 0 #AAA;
    box-shadow: 0 0 7px 0 #AAA;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border-top: 10px solid #C96B29;;
    padding: 20px;
    margin-bottom: 25px;
    margin:10px;
    }




/* contact page */
.contact-page .icon-title {
    text-align: top;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;}

.contact-page .icon-title .fa {
	color:#4C8EC9;
	display:inline-block;
}

.contact-page .icon-title h2 {
	display:inline-block;
}

.contact-page .text {
	font-size:18px;
	line-height:1.43em;
}


.contact-page .icon-title h3 {
    display: inline;
}



/* home page-family resources block */


.hp-icon-block .icon-title {
    text-align: top;
    padding-bottom: 5px;
    margin-bottom: 10px;}

.hp-icon-block .icon-title .fa {
	color:#4C8EC9;
	display:inline-block;
}

.hp-icon-block.icon-title h2 {
	display:inline-block;
}

.hp-icon-block .text {
	font-size:18px;
	line-height:1.43em;
}


.hp-icon-block .icon-title h3 {
    display: inline;
}



.hp-icon-block.equal-box {
  border-top: none!important;
  box-shadow:none;
    }



@media (min-width: 768px) {


  .hp-icon-block.table-row  [class^="col-"] {
  border-top: none!important;
    box-shadow:none;
  }
}



.dont-break-out {
/* These are technically the same, but use both */
	overflow-wrap:break-word;
	word-wrap:break-word;
	-ms-word-break:break-all;
/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break:break-all;
/* Instead use this non-standard one: */
	word-break:break-word;
/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens:auto;
	-moz-hyphens:auto;
	-webkit-hyphens:auto;
	hyphens:auto;
}

/* teaser image in articles/resources/pages */
.node-article .field-name-field-teaser-image img {
	float:left;
	padding-right:20px;
	padding-bottom:20px;
}


.node-article .field-type-image img {
  float:left;
	padding-right:20px;
	padding-bottom:20px;}

/* Tags styles */


.field-name-field-tags {margin-top:15px;}


.field-name-field-tags .field-item {
    display: inline;
    margin-right: 0.5em;
}


div.field-name-field-tags div.field-items div:after {
  content: ",";
}

div.field-name-field-tags div.field-items div:last-child:after {
  content: "";
}

/*---- Blog -------*/

.view-Blog .views-row .field .field-items .field-item img{
     float: left;
    padding-right: 10px;
    padding-bottom:10px;
        margin-bottom: 0;
}

.view-Blog .views-row .node-blog-article {
    border-bottom: 1px #ddd solid;
    padding-bottom: 10px;
}


.region-sidebar-second .view-Blog .views-row {
  border-bottom: none;
}

.node-blog-article.node-teaser .field-name-field-image img{
	     float: left;
    padding-right: 10px;
    padding-bottom:10px;
        margin-bottom: 0;
}


/* Blog Tag Styles */
.field-name-field-blog-tags {margin-top:15px;}


.field-name-field-blog-tags .field-item {
    display: inline;
    margin-right: 0.5em;
}


div.field-name-field-blog-tags div.field-items div:after {
  content: ",";
}

div.field-name-field-blog-tags div.field-items div:last-child:after {
  content: "";
}



/* Blog Image */

.node-blog-article .field-item img {margin:0 auto 30px auto}

/* Back to top button */
#backtotop {
	background:#F7F7F7;
	border:1px solid #CCC;
	border-radius:5px 5px 5px 5px;
	bottom:10px;
	color:#333;
	cursor:pointer;
	display:none;
	height:50px;
/* line-height: 30px; */
	padding:5px 10px;
	position:fixed;
	right:10px;
	text-align:center;
	z-index:1;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.not-logged-in footer li.logoutLink a { color: #20527C; }

/* to correct double input bug on program record edit pages
.page-node-add.page-node-add-program-record div.form-type-radio > input[type="radio"], .page-node-add.page-node-add-program-record div.form-type-checkbox > input[type="checkbox"], .page-node-edit.node-type-program-record div.form-type-radio > input[type="radio"], .page-node-edit.node-type-program-record div.form-type-checkbox > input[type="checkbox"], #edit-field-prog-vocational-credential { visibility: hidden; } */

.page-node-add.page-node-add-program-record div.form-type-radio label > input[type="radio"], .page-node-add.page-node-add-program-record div.form-type-checkbox label > input[type="checkbox"],
.page-node-edit.node-type-program-record div.form-type-radio label > input[type="radio"], .page-node-edit.node-type-program-record div.form-type-checkbox label > input[type="checkbox"] { visibility: visible; }
/* to be activated after this field has been unchecked in all programs  */
div.form-type-checkbox.form-item-field-prog-admiss-requirements-und-Student-must-be-a-resident-of-the-state-where-the-program-is-located {display: none; }


/* Responsive YT Embed */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  }

  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
     }
.page-college-comparison-chart .main-container,.page-college-comparison-chart .main-container div,.page-college-comparison-chart .view-content,.page-college-comparison-chart .view {overflow: visible; }


/*-----flex cards ------*/

.cards > ul {
    list-style: none;
}

.card + .card {
    margin-top: 24px;
}

@supports (display: grid) {
    .cards > ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-column-gap: 24px;
        grid-row-gap:24px;
    }

    .card + .card {
        margin-top: 0;
    }
}

.card {

    display: flex;
    flex-direction: column;
    position: relative;
     margin-bottom: 20px;
  padding-bottom: 30px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.card-title
	   {
  background: rgba(32, 82, 123, 0.85);
   padding: 10px 2px 10px 15px;
  color:#fff;
  margin: 0;
}

.card-title a
	   { color:#fff; }

.card .text {
    padding: 16px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.card p {
    max-width: 60ch;
}

.card .img {
    height: 192px;

}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card a {
    text-decoration: none;
}

.card a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.card a:focus {
    outline: none;
    text-decoration: underline;
}

.card:focus-within, .card:hover {
 background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
     cursor: hand;
}

.card:focus-within a:focus {
    text-decoration: none;
}



/*------ Profile cards ------*/


	  .card-profile {
      padding: 10px 0px 25px;
     background: #fefff9;
    min-height: 300px;
    max-height: 700px;
    border-radius: 8px;
    box-shadow: 0px 8px 20px #0000007a;
}

.card-section .card-body {
    padding: 0px 15px;
    color: white;
}


.card-section .card-body {
	color:#333;
}



.card-section .profile-default {
    border: none;
}

.card-section .profile-group {
    position: absolute;
    bottom: -1px;
    margin-bottom: 0px;
    width: 100%;
   padding-right: 30px;  }

.card-section .profile-group .profile-heading+.profile-collapse>.profile-body, .card-section .profile-group .profile-heading+.profile-collapse>.list-group {
    border: none;
}

.card-section .profile-group .profile {
    border-radius: 0px 0px 8px 8px;
    background-color: #e6e6e6;
}

.card-section .profile-body {
    min-height: 250px;
    overflow: auto;
    border-radius: 0px 0px 8px 8px;
    padding: 0px 15px 10px;
}


.card-section .card-body .thumbnail {margin-bottom:0 ;}
.card-section .profile-default>.profile-heading {
    background-color: transparent;
}

.card-section .profile-heading {
    text-align: center;
    padding: 0px;
    height: 30px;
    border: none;
}

.card-section .profile-button {
   /*
    background: #999999;
    top: -13px;
   */
   padding: 0 40px;
    position: relative;
	border-radius: 100%;
    z-index: 9999;
}

.card-section .profile-button .plus-minus:before{
    content: "\f067";
    font-family: "FontAwesome";
}

.card-section .profile-button[aria-expanded="true"] .plus-minus:before{
    content: "\f068";
    font-family: "FontAwesome";
}



a.profile-button:hover, a.profile-button:focus {
    text-decoration: none;
}

a.profile-button {
    font-size: 18px;
    color: #333333;
   /* box-shadow: 0px 3px 7px #0000004a;*/
}

.card-section {
    height: 100vh;
    display: table;
    width: 100%;
 /* overflow: hidden;*/
}
.card-section .card-row {margin-bottom: 20px}

.card-section > .inner {
    display: table-cell;
    vertical-align: middle;

}

@media (max-width: 991px) {
    .card-section .card-profile {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
 .card-section .card-profile{
    min-height: 300px;
  }
.card-section  .profile .profile-body {
    max-height: 200px;
    font-size: 15px;
    padding: 0px 5px;
  }
}



/** Styles for Family resources page/Data Collection page and MTF Project landing **/

.box-light-blue {
    background: #4C8EC9!important;
    padding: 30px 20px 30px 20px;
    border-radius: 4px;
    margin-bottom: 30px;
    z-index: 1; }


.box-light-blue a.whitelink {color: #069;
    background-color: #f2f2f2;}

.box-light-blue .box-title {
    font-weight: 600;
color: white;
    font-size: 36px !important;
    padding: 0;
}

.box-light-blue .border {
    background: #fff;
    width: 80%;
    display: block;
    height: 8px;

}
.box-light-blue p{
    font-size: 19px !important;
    line-height: 30px !important;
    color:#fff;}

.box-container .is-table-cell {
    background: #4C8EC9;
}





.leadbox {background-color: #4c8ec9;
    padding: 20px;
    color: #fff;
    margin: 10px 0px;
}
.leadbox .lead {color:#fff;font-weight: 700;}
.leadbox a { color: #069;
    background-color: #f2f2f2;}

.box-light-blue .border {
    background: #fff;
    width: 80%;
    display: block;
    height: 8px;
}

a.orange {
    color: #fff;
    background: #e56814;
    padding: 0px 10px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    clear: both;
}






/* Project Landing pages */

.box-border-purple {
  border-top-color: #5E2B7A!important;
}

.box-border-light-blue {border-top-color:#4C8EC9!important}




.box-bg-purple {
    background: #5E2B7A!important;
    padding: 30px 20px 30px 20px;
      border-radius: 4px;
    margin-bottom: 30px;
    z-index: 1; }


.box-bg-dk-blue {
    background: #20527C!important;
    padding: 30px 20px 30px 20px;
      border-radius: 4px;
    margin-bottom: 30px;
    z-index: 1; }


.box-bg-orange {
    background: #C96B29!important;
    padding: 30px 20px 30px 20px;
      border-radius: 4px;
    margin-bottom: 30px;
    z-index: 1; }


.box-bg-dk-blue p, .box-bg-purple p, .box-bg-orange p{
    font-size: 19px !important;
    line-height: 30px !important;
    color:#fff;}



/*home page hero banner - image with text overlay */

.hero-banner { position:relative;
    display:inline-block;}
.hero-banner-text  {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: #9AB28D;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;
    width: 40%;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    height: 100%;
    font-size: 24px;
    line-height: 32px;
     font-family: 'museo-slab', serif;
}


/* home page - top row - right */

.home-panel p {
    text-align: center;
    background-color: #ddd;
    padding: 5px 0;
    font-family: 'museo-sans', sans-serif;
}



/* Resources results page project banner */

.resource-box .field-name-field-project {
    display: inline-block;
    min-width: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
}


/* Makes titles on Project Pages smaller */

.page-projects-transition-leadership-project h1.page-header, .page-projects-fqie h1.page-header , .page-projects-mtf  h1.page-header , .page-projects-ncc h1.page-header {
    font-size: 28px;
}
