body {
  font-size:16px;
}

.navbar-brand {
	height:auto;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'museo-sans',sans-serif;
}


#section_banner {


    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    margin-bottom: 10px;
}

#section_banner p {
    line-height:2.5em;
    color:#fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 42px;
    text-align: center
    }

.section-banner-block {
   background: url('/images/congruent_outline_bl-200px.png') repeat-x;
   width:100%;
   margin-top: -20px;
   border-top: #fff 3px solid;
   margin-bottom:40px;
   }





.btn-danger {
	background-color:#20527C;
	border:transparent;
	text-transform:uppercase;
	font-weight:600;
}

.btn-danger:hover {
	background-color:#C96B29;
}



.btn-info {
	background-color:#4C8EC9;
	border:none;
	text-transform:uppercase;
	font-weight:600;
}

.btn-info:hover {
	background-color:#C96B29;
}


  .page-college-search .main-container {
    margin-bottom:60px;
  }


  form#search-block-form {
    margin: 0;
    margin-top: 20px;
    float: right;
    width: 20%;
}

/*
table {70%}
*/

table.details td {
	width:50%;
}



thead {
	border-top:10px solid #C96B29;
}

.navbar-form {
	margin-top:20px;
}

.navbar-form {
	margin-top:20px;
}

/*
.program-description-title {
	font-weight:700;
	display:block;
	float:left;
	padding-right:10px;
}

.program-description-content {
	display:inline-block;
}

.program-description {
	margin-bottom:16px;
	display:inline-block;
	font-family:'lato',sans-serif;
	font-size:9pt;
}
*/


.site-header {
	padding-bottom:0;
}

td {
	color:#555;
}

/*
.program-search-session-info div div span {
    display: block;
    padding: 4px 0;
}

.program-search-session-info div {
    display: table-row;
    background-color: #F7F7F7;
    border-bottom: 3px solid #FFF;
}

.session-dates span {
    color: #888;

}
.program-search-session-info div div {
    display: table-cell;
}


.program-search-session-info div div span {
    display: block;
    padding: 4px 0;
}

.session-name span {

    padding-right: 10px !important;
    padding-left: 15px !important;
}


.row.box-details {border-top:1px solid #ccc;padding-top:5px;}
*/
form {
	display:block;
}



.filter-bar {
	padding:15px 20px;
	clear:both;
}

.filter-dropdown {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	z-index:2;
}

.filter-dropdown span.filter-label {
	color:#999;
}

@media screen and (max-width: 480px) {
	.program-description {
		font-size:8px;
		display:none;
	}
}

@media screen and (max-width: 990px) {
	.program-description {
		font-size:10px;
	}
}

a {
	color:#069;
}

.tab-widget {
	border-top:4px solid #C96B29;
	clear:both;
	margin-bottom:20px;
	padding:15px 20px;
	min-height:200px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border-top:10px solid #C96B29;
	-webkit-box-shadow:0 0 7px 0 #AAA;
	-moz-box-shadow:0 0 7px 0 #AAA;
	box-shadow:0 0 7px 0 #AAA;
}

.tab-widget__list li {
	display:inline-block;
	font-size:12px;
	margin:3px;
}

.tab-widget__list {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline;
}

.tab-widget__item a {
	border:1px solid #069;
	border-radius:50px;
	color:#069;
	display:block;
	padding:6px 8px;
	text-decoration:none;
	position:relative;
}

.tab-widget__item a:hover {
	background-color:#069;
	border-radius:50px;
	color:#fff;
	border:1px solid #069;
	text-decoration:none;
}

.tab-widget__link {
}

.tab-widget__link--active {
}

dl {
	width:90%;
	display:block;
	border-bottom:1px solid #000;
	padding:0 0 10px 5px;
}

dt {
	font-weight:700;
}

dd {
	padding-left:40px;
}

.tab-widget__tabs {
	padding:1em;
}

.tab-widget__tab-content {
	display:none;
}

.tab-widget__tab-content--active,.no-js .tab-widget__tab-content {
	display:block;
}

.visuallyhidden {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}


ul.nav-pills {
	top:150px;
	left:10px;
	position:fixed;
	width:auto;
}

header {
	background-color:#fff;
}

#menu-bar {
	background-color:#000;
	overflow:hidden;
	vertical-align:middle;
}

.view-header, .tc-node-last-updated {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  }





/** Resource details page **/

.node-type-resource .field-label {
    height: 40px;
    width: 200px;
    background: #20527C;
    position: relative;
    font-size: 18px;
    color: #fff;
    line-height: 34px;
}


.node-type-resource .field-label:after {
    position: absolute;
    right: -20px;
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #20527C;
}

.node-type-resource .field-items {
    margin-left: 60px;
    font-size: 16px;
}

.node-type-resource .field-label:before {
    content: "";
    margin-left: 20px;
}

.node-type-resource .field {
    margin-bottom: 20px;
}
/** Map Styes **/


/*
.map-content {
  position: relative;
}

.popover {
  position: absolute;
  left: auto;
  top: auto;
  padding: 5px;
  background-color: #eee;
  text-align: center;
  opacity: 0;
  -webkit-transition: .1s all ease;
  transition: .3s all ease;
  z-index: -1;
  max-width: 270px;
}
.popover.in {
  opacity: 1;
  z-index: 3;
}
.popover:before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  margin: auto;
  bottom: 100%;
  left: 0;
  right: 0;
}
.popover[data-arrow="right"]:before {
  position: absolute;
  left: 100%;
  bottom: 0;
  top: 0;
  right: auto;
}
.popover[data-arrow="left"]:before {
  position: absolute;
  left: auto;
  bottom: 0;
  top: 0;
  right: 100%;
}
.popover[data-arrow="top"]:before {
  position: absolute;
  left: 0;
  bottom: auto;
  top: 100%;
  right: 0;
}

svg {
  max-width: 100%;
  height: auto;
}

.state {
  fill: #E0E0E0;
  stroke: #fff;
  stroke-width: 2;
}
.state:hover {
  cursor: pointer;
  fill: #000;
}


.state.blue1 {
  fill: #9ecae1;
}

.state.blue2 {
  fill: #4292c6;
}


.state.blue3 {
  fill: #2171b5;
}

.state.blue4 {
  fill: #08306b;
}


.state:hover {
  fill: #20527C;
}

.statetext {
	-webkit-tap-highlight-color:#000;
	font-size:16px;
	cursor: pointer;}

.border {
  opacity: 1;
  fill: none;
  stroke: #000;
  stroke-width: 5;
}
*/

