body {
  font-size:16px;
}

.navbar-brand {
	height:auto;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'museo-sans',sans-serif;
}

h3.block-title, h3.pane-title {
    text-align: left;
    border-bottom: #ccc 1px solid;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'museo-sans-condensed', sans-serif;
    }




/* Section Banner */

#section_banner {


    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    margin-bottom: 10px;
}

#section_banner p {
    line-height:2.5em;
    color:#fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 42px;
    text-align: center
    }

.section-banner-block {
   background: url('../images/congruent_outline_bl-200px.png') repeat-x;
   width:100%;
   margin-top: -20px;
   border-top: #fff 3px solid;
   margin-bottom:40px;
   }



 /*----------------------------*/





 .tc-row2
{margin-bottom:25px}

.btn-danger {
	background-color:#20527C;
	border:transparent;
	text-transform:uppercase;
	font-weight:600;
}

.btn-danger:hover {
	background-color:#C96B29;
}



.btn-info {
	background-color:#4C8EC9;
	border:none;
	text-transform:uppercase;
	font-weight:600;
}

.btn-info:hover {
	background-color:#C96B29;
}


  .page-college-search .main-container {
    margin-bottom:60px;
  }


  form#search-block-form {
    margin: 0;
    margin-top: 20px;
    float: right;
    width: 20%;
}

/*
table {70%}
*/

table.details td {
	width:50%;
}



thead {
	border-top:10px solid #C96B29;
}

.navbar-form {
	margin-top:20px;
}

.navbar-form {
	margin-top:20px;
}

/*
.program-description-title {
	font-weight:700;
	display:block;
	float:left;
	padding-right:10px;
}

.program-description-content {
	display:inline-block;
}

.program-description {
	margin-bottom:16px;
	display:inline-block;
	font-family:'lato',sans-serif;
	font-size:9pt;
}
*/


.site-header {
	padding-bottom:0;
}

td {
	color:#555;
}

/*
.program-search-session-info div div span {
    display: block;
    padding: 4px 0;
}

.program-search-session-info div {
    display: table-row;
    background-color: #F7F7F7;
    border-bottom: 3px solid #FFF;
}

.session-dates span {
    color: #888;

}
.program-search-session-info div div {
    display: table-cell;
}


.program-search-session-info div div span {
    display: block;
    padding: 4px 0;
}

.session-name span {

    padding-right: 10px !important;
    padding-left: 15px !important;
}


.row.box-details {border-top:1px solid #ccc;padding-top:5px;}
*/
form {
	display:block;
}



.filter-bar {
	padding:15px 20px;
	clear:both;
}

.filter-dropdown {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	z-index:2;
}

.filter-dropdown span.filter-label {
	color:#999;
}

@media screen and (max-width: 480px) {
	.program-description {
		font-size:8px;
		display:none;
	}
}

@media screen and (max-width: 990px) {
	.program-description {
		font-size:10px;
	}
}

a {
	color:#069;
}

.tab-widget {
	border-top:4px solid #C96B29;
	clear:both;
	margin-bottom:20px;
	padding:15px 20px;
	min-height:200px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border-top:10px solid #C96B29;
	-webkit-box-shadow:0 0 7px 0 #AAA;
	-moz-box-shadow:0 0 7px 0 #AAA;
	box-shadow:0 0 7px 0 #AAA;
}

.tab-widget__list li {
	display:inline-block;
	font-size:12px;
	margin:3px;
}

.tab-widget__list {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline;
}

.tab-widget__item a {
	border:1px solid #069;
	border-radius:50px;
	color:#069;
	display:block;
	padding:6px 8px;
	text-decoration:none;
	position:relative;
}

.tab-widget__item a:hover {
	background-color:#069;
	border-radius:50px;
	color:#fff;
	border:1px solid #069;
	text-decoration:none;
}

.tab-widget__link {
}

.tab-widget__link--active {
}

dl {
	width:90%;
	display:block;
	border-bottom:1px solid #000;
	padding:0 0 10px 5px;
}

dt {
	font-weight:700;
}

dd {
	padding-left:40px;
}

.tab-widget__tabs {
	padding:1em;
}

.tab-widget__tab-content {
	display:none;
}

.tab-widget__tab-content--active,.no-js .tab-widget__tab-content {
	display:block;
}

.visuallyhidden {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}


ul.nav-pills {
	top:150px;
	left:10px;
	position:fixed;
	width:auto;
}

header {
	background-color:#fff;
}

#menu-bar {
	background-color:#000;
	overflow:hidden;
	vertical-align:middle;
}

.view-header, .tc-node-last-updated {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  }



/*** Landing Page --hero image block ***/

.one-element {

  position: relative;

   }
 .one-element img {
    width: 100%;
    height: auto;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    background: rgba(255,255,255, 0.3);
    text-align: left;
    display: block;
    width: 42%;
    height:100%;

}

ul.latest {padding-left:0;margin-left:0}

ul.latest li {
    position: relative;
    display: block;
    padding: 10px 5px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

ul.latest li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

  h1.headline {

 font-size:2.5em;
    color:#fff;
  }


 h1.headline span {

 background-color: #C96B29;

  }



 @media (max-width: 1200px) {
	  h1.headline {

    font-size:2em;
    color:#fff;
  }
  }


 @media (max-width: 979px) {
	  h1.headline {

    font-size:1.5em;
    color:#fff;
  }
  }

 @media (max-width: 767px) {

	  h1.headline {

    font-size:2.0em;
    color:#fff;
  }
  }

 @media (max-width: 480px) {

	  h1.headline {

    font-size:1em;
    color:#fff;
  }
  }

/*----------------------------*/

/* Affinity Groups Page */

.page-node-3634 .page-title {display: none; }


.join {font-size: 2em; line-height: .5em; color: #fff;}
      .da {font-size:3em; line-height: .5em; color:#fff;}
      .convo {font-size:4em; line-height: .5em; color:#fff;}

      @media only screen and (max-width: 1000px) {
  .join {font-size: 3rem; line-height: .6rem; color: #fff;}
      .da {font-size:4rem; line-height: .6rem; color:#fff;}
      .convo {font-size:5rem; line-height: .6rem; color:#fff;}
}

@media only screen and (max-width: 700px) {
  .join {font-size: 2rem; line-height: .5rem; color: #fff;}
      .da {font-size:3rem; line-height: .5rem; color:#fff;}
      .convo {font-size:4rem; line-height: .5rem; color:#fff;}
}


      .jc_lead {}
        .peeps { background: url('/sites/default/files/files/images/green.jpg'); padding-top:1em; padding-bottom: 1em;}
        .greyed {background: rgba(000, 000, 000, 0.4);}

         @media only screen and (min-width : 992px) {
             .jc_nav {margin-top:6em; margin-bottom: 3em;}

    }
    .fine {font-size: .8em;}
    .fine h2 {font-size: 1.4em;}
    .fine h3 {font-size: 1.2em}
    /* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

/*----------------------------*/


/* TPSID Projects Information page */
.three-column-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 100px;
    -moz-column-width: 100px;
    column-width: 100px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
}
.three-column-list li {list-style-position: inside!important;}

ul.three-column-list li  {

   border-bottom:#f2f2f2 solid 1px;
}


ul.three-column-list ul li{

    border-bottom:none ;
}
.three-column-list li {
	 margin: 12px 0;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

li.shaded{
background-color:#f2f2f2;padding:4px;}



/* responsive google map embed */

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}



/* contact page */

.contact-page .icon {
    display: table-cell;
    vertical-align: top;

}

.contact-page .text {    display: table-cell;
    vertical-align: top;
	font-size:30px;
	line-height:1.43em;
}
