.field-name-field-tc-learn-sidebar article header { display: none; }
  .node-type-tc-learn .ds-2col-fluid > .group-right border

.node-type-tc-learn .ds-2col-fluid > .group-left { width: 100%;}
  .node-type-tc-learn .ds-2col-fluid > .group-right { width: 100%;  }

@media (max-width: 1200px) and (min-width: 768px) {
.node-type-tc-learn .ds-2col-fluid > .group-left { width: 65%;}
.node-type-tc-learn .ds-2col-fluid > .group-right { width: 25%;padding-left: 9px; }
}

@media (min-width: 1200px){
.node-type-tc-learn .ds-2col-fluid > .group-left { width: 65%; max-width: 700px;}
.node-type-tc-learn .ds-2col-fluid > .group-right { width: 25%; min-width: 260px;padding-left: 14px; }
}
.field-name-field-tc-learn-sidebar {border-radius: 9px 9px 9px 9px;
-moz-border-radius: 9px 9px 9px 9px;
-webkit-border-radius: 9px 9px 9px 9px;
border: 3px solid #20527C;}
.field-name-field-tc-learn-sidebar .field-items > .field-item { margin: 8px 5px 14px 5px}
.field-name-field-tc-learn-sidebar iframe {margin-left: -5px;}
.book-navigation .menu.nav { display: none; }
.toggleMe.wrong { background-color: #ffe2e0; color: #990000; border: 1px solid #990000; }
.toggleMe.right { background-color: #e7ffe7; border: 1px solid #336633; }
.toggleMe.right, .toggleMe.wrong { margin-top: 14px; padding: 9px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; width: 85%; }
.featureText { line-height: 1.4em; letter-spacing: 1px; font-size: 85%; margin: 5px 8px;}

.checkmark { position: absolute; width: 30px; height: 30px; margin-left: -65px; }
