.map-content * {
  box-sizing: border-box;
}


.map-content body {
  max-width: 960px;
  margin: 0 auto;
}

.map-content {
  position: relative;
}

.popover {
  position: absolute;
  left: auto;
  top: auto;
  padding: 5px;
  background-color: #eee;
  text-align: center;
  opacity: 0;
  -webkit-transition: .1s all ease;
  transition: .3s all ease;
  z-index: -1;
  max-width: 270px;
 /* box-shadow: 0 0 0 10px #3a7cc0 inset;*/
}
.popover.in {
  opacity: 1;
  z-index: 3;
}
.popover:before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  margin: auto;
  bottom: 100%;
  left: 0;
  right: 0;
  /*border-bottom: 15px solid #3a7cc0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;*/
}
.popover[data-arrow="right"]:before {
  position: absolute;
  left: 100%;
  bottom: 0;
  top: 0;
  right: auto;
 /* border-bottom: 15px solid transparent;
  border-left: 15px solid #3a7cc0;
  border-top: 15px solid transparent;
  border-right: none;*/
}
.popover[data-arrow="left"]:before {
  position: absolute;
  left: auto;
  bottom: 0;
  top: 0;
  right: 100%;
 /* border-bottom: 15px solid transparent;
  border-left: none;
  border-top: 15px solid transparent;
  border-right: 15px solid #3a7cc0;*/
}
.popover[data-arrow="top"]:before {
  position: absolute;
  left: 0;
  bottom: auto;
  top: 100%;
  right: 0;
 /* border-left: 15px solid transparent;
  border-bottom: none;
  border-right: 15px solid transparent;
  border-top: 15px solid #3a7cc0;*/
}

svg {
  max-width: 100%;
  height: auto;
}

.state {
  fill: #E0E0E0;
  stroke: #fff;
  stroke-width: 2;
}
.state:hover {
  cursor: pointer;
  fill: #000;
}

/*
.state.blue {
  fill: #4C8EC9
;
}
*/

.state.blue1 {
  fill: #9ecae1;
}

.state.blue2 {
  fill: #4292c6;
}


.state.blue3 {
  fill: #2171b5;
}

.state.blue4 {
  fill: #08306b;
}


.state:hover {
  fill: #20527C;
}

.statetext {
	-webkit-tap-highlight-color:#000;
	font-size:16px;
	cursor: pointer;}

.border {
  opacity: 1;
  fill: none;
  stroke: #000;
  stroke-width: 5;
}
