.node-type-program-record .field-name-field-prog-photo .field-item {display: block; overflow: none; max-width: 350px;}
.page-node-edit.node-type-program-record .main-container form { max-width: 65%;}
