.footer-main {
	background-color:#20527C;
	color:#fff;
	padding:20px;
	font-size:16px;
}

.copyright {
	background-color:#0073AE;
	color:#fff;
	padding:20px;

}



.footer h2 {
	border-bottom:1px solid #fff;
	font-size:18px;
	font-weight:600;
	line-height:27px;
	padding:10px 0 10px;
	text-transform:uppercase;
}

.footer ul {
	font-size:16px;
	list-style-type:none;
	margin-left:0;
	padding-left:0;
	margin-top:15px;
}

.footer ul li a {
	padding:0 0 5px;
	display:block;
}

.footer a {
	color:#C96B29;
	font-weight:700;
}

.footer  .copyright a {color:#fff;}


/* Social icons in footer */
#social-fb:hover {
	color:$tclightblue;
}

#social-tw:hover {
	color:$tclightblue;
}


#social-em:hover {
	color:$tclightblue;
}
