/*---------------------------- HEADER ----------------------------*/

.header {
    margin-top:160px;
    }

/*---------------------------- NAVIGATION ----------------------------*/

.close-ribbon{ position: absolute;
    top: -50px;
    z-index: 1;
    font-size: 4em;
    cursor: pointer;
    line-height: 0.5em;
    width: 110px;
    font-weight: bold;
    padding: 20px 6px 15px 6px;
    margin: 30px 10px 10px 0px;
    background-color: #C96B29;}


.close-ribbon:before, .close-ribbon:after {content: ' ';position: absolute;width: 0;height: 0;}
.close-ribbon:before{}
.close-ribbon:after{right: -20px;
top: 0px;
border-width: 10px 10px;
border-style: solid;
border-color: transparent transparent #B71C1C #B71C1C;}


.navbar-default {
	margin:0 0 20px;
	width:100%;
	background-color:#20527c;
	border-top:10px solid #fff;

}

.navbar-default .navbar-brand {
	color:#fff;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus {
	color:#fff;
}

.navbar-default .navbar-text {
	color:#fff;
}

.navbar-default .navbar-nav > li > a {
	color:#fff;
	/*font-size:1.1em;*/
	padding-right:15px;
	padding-left:15px;
}

.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus {
	color:#fff;
	background-color:#4c8ec9;
	padding-right:15px;
	padding-left:15px;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
 background-color: $tcblue;
 color:#fff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
	color:#fff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:active,.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
	color:#fff;
 background-color: $tclightblue;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
/* background-color: #4c8ec9;*/
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color:#fff;
   background-color: #4c8ec9;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus {
	color:#fff;
	background-color:#4c8ec9;
}

.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus {
	color:#fff;
 background-color: $tclightblue;
}

.navbar-default .navbar-toggle {
	border-color:#4c8ec9;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background-color:#4c8ec9;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color:#fff;
}

.navbar-default .navbar-collapse,.navbar-default .navbar-form {
	border-color:#fff;
}

.navbar-default .navbar-link {
	color:#fff;
}

.navbar-default .navbar-link:hover {
	color:#fff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color:#fff;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color:#fff;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color:#fff;
	}
}

.navbar {
	border-radius:0;
}

.nav {
	font-size:1.2em;
		text-transform: uppercase;
}

// Navigation.



.navbar-default .navbar-nav .open .dropdown-menu > li > a:active,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus
{ background-color: $tclightblue;color:#fff;}



ul.navbar-nav {
 @media #{$tablet} {
  margin-left:140px;
  }
}


.navbar-nav {
  .dropdown-menu  {
     li {
        color:#fff;
        text-transform: none;
        border-bottom: 1px solid #fff;
        }
    border-radius: 0;
    border:0;
    padding: 0;

  }
}

ul.secondary {
  float: left;
  @media #{$tablet} {
    float: right;
  }
}


.open > .dropdown-menu .dropdown-menu {
  left: 100%;
  top: 0;
  display: block;
  background-color: $tcblue;}


ul.nav li.dropdown:hover ul.dropdown-menu li.expanded ul.dropdown-menu {display:none;}
ul.nav li.dropdown:hover ul.dropdown-menu li.expanded:hover ul.dropdown-menu {display:block;}





 @media (max-width:767px) {
.navbar-default .navbar-nav .open .dropdown-menu .dropdown-menu {text-indent: 40px;}
}
 @media (max-width:767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a:active
{ background-color: $tclightblue;}
}


.dropdown-menu > li > a {color:#fff;}



/* Superfish overides*/



.sf-sub-indicator {    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    position: initial;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;}
