//
// What's New views styles---NOTE: View renamed 'Featured'
//

// Home page pane title
.pane-whats-new-panel-pane-1, .ie-news {
	position: relative;
	.pane-title {
		@extend %title-underbar;
		padding-right: 140px;
	}
}

.home-featurednews .view-whats-new {
// Landing page content pane
  &.content-pane {
		.view-header {
			background-color: transparent;
			margin: 0;
			padding: 0;
			position:relative;
		}
		.view-all {
			position: absolute;
			right: 0;
			top: -36px;
		}
  	.view-content {
  		@media #{$tablet} {
	  		@include flexbox;
	  		@include flex-wrap(wrap);
	  		@include justify-content(space-between);
  		}
  	}
  	.views-row {
  		@extend %box-orange;
  		padding: 0 10px 10px 10px;
	    @media #{$tablet} {
	  		width: 22%;
	    }
	    @media #{$wide} {
	    	width: 23%;
	    }
  	}

    .views-field-field-teaser-image {
  		margin: 0 -10px 15px -10px;
	  	img {
	  		width: 100%;
	  	}
    }
    .title {
	    font-family: $museo-sans-stack;
	    font-weight: 500;
	    font-size: 20px;
	    margin-bottom: 5px;
	    margin-top: 10px;
    }
    .views-field-body {
    	font-size: 14px;
    }
  }
}



.ie-news .view-whats-new {
// Landing page content pane
  &.content-pane {
		.view-header {
			background-color: transparent;
			margin: 0;
			padding: 0;
			position:relative;
		}
		.view-all {
			position: absolute;
			right: 0;
			top: -36px;
		}
  	.view-content {
  		@media #{$tablet} {
	  		@include flexbox;
	  		@include flex-wrap(wrap);
	  		@include justify-content(space-between);
  		}
  	}
  	.views-row {
  		@extend %box-orange;
  		padding: 0 10px 10px 10px;
	    @media #{$tablet} {
	  		width: 31%;
	    }
	    @media #{$wide} {
	    	width: 31%;
	    }
  	}

    .views-field-field-teaser-image {
  		margin: 0 -10px 15px -10px;
	  	img {
	  		width: 100%;
	  	}
    }
    .title {
	    font-family: $museo-sans-stack;
	    font-weight: 500;
	    font-size: 20px;
	    margin-bottom: 5px;
	    margin-top: 10px;
    }
    .views-field-body {
    	font-size: 14px;
    }
  }
}


.ie-featuredresources h2.pane-title{
    text-align: left;
    border-bottom: #ccc 1px solid;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'museo-sans-condensed', sans-serif;
    font-size: 24px;
    }


.ie-featuredresources .view-whats-new	{
        .views-row {  border-bottom: #ccc 1px solid;display:table;
              .views-field-field-resourc-media-types, .views-field-field-resourc-date-received {
                        display:table-cell;

}
      .views-field-title {

            display:table-cell;
             }
    h3.field-content.title {
            font-size:16px;
            padding-left: 5px;
             }
      }
}

.views-field-field-resourc-date-received .label-warning {background-color: #C96B1E;}

/*
.ie-featuredresources .view-whats-new .views-field .views-field-field-resourc-media-types .field-content,.ie-featuredresources .view-whats-new .views-field .views-field-title .field-content
{display:inline-block;}

*/
/*
.ie-featuredresources.views-row { width:100%; border:none;box-shadow: none;}


.ie-featuredresources.views-field-field-resourc-media-types {display: inline-block}

*/
