//
// What's New
//

.view-whats-new {
// Landing page content pane
  &.content-pane {
  	.view-content {
  		@include flexbox;
  		@include flex-wrap(wrap);
  		@include justify-content(space-between);
  	}
  	.views-row {
  		@extend %box-orange;
  		padding: 0 10px 10px 10px;
	    @media #{$tablet} {
	  		width: 22%;
	    }
  	}

    .views-field-field-teaser-image {
  		margin: 0 -10px 15px -10px;
	  	img {
	  		width: 100%;
	  	}
    }
    .title {
	    font-family: museo-sans, sans-serif;
	    font-weight: 500;
	    font-size: 20px;
	    margin-bottom: 5px;
	    margin-top: 10px;
    }
    .views-field-body {
    	font-size: 14px;
    }
  }
}
