/*

  /*Events landing page -- unformatted list

.view-tc-events-page {
    .views-row {
padding-bottom:5px;
border-bottom:1px solid #333;
      .field-content {
      display:inline-block;
    }
}
}
*/
