//
// What's New views styles
//

// Home page pane title
.pane-whats-new-panel-pane-1 {
	position: relative;
	.pane-title {
		@extend %title-underbar;
		padding-right: 140px;
	}
}

.view-whats-new {
// Landing page content pane
  &.content-pane {
		.view-header {
			background-color: transparent;
			margin: 0;
			padding: 0;
		}
		.view-all {
			position: absolute;
			right: 0;
			top: -36px;
		}
  	.view-content {
  		@media #{$tablet} {
	  		@include flexbox;
	  		@include flex-wrap(wrap);
	  		@include justify-content(space-between);
  		}
  	}
  	.views-row {
  		@extend %box-orange;
  		padding: 0 10px 10px 10px;
	    @media #{$tablet} {
	  		width: 22%;
	    }
	    @media #{$wide} {
	    	width: 23%;
	    }
  	}

    .views-field-field-teaser-image {
  		margin: 0 -10px 15px -10px;
	  	img {
	  		width: 100%;
	  	}
    }
    .title {
	    font-family: $museo-sans-stack;
	    font-weight: 500;
	    font-size: 20px;
	    margin-bottom: 5px;
	    margin-top: 10px;
    }
    .views-field-body {
    	font-size: 14px;
    }
  }
}
