// Blocks

%box-defaults {
	@include box-shadow($box-shadow-default);
	@include border-radius(4px);
  background-color: $white;
  border-top: 10px solid $tcblue;
  padding: 15px 20px;
  margin-bottom: 25px;
}
%box-blue {
	@extend %box-defaults;
}
%box-orange {
	@extend %box-defaults;
	border-top-color: $tcorange;
}

%title-underbar {
	border-bottom: 4px solid $tcblue;
	color: $tcblue;
	font-family: $museo-cond-stack;
	font-size: 24px;
	text-transform: uppercase;
}
