.page-general-site-search,
.page-resource-search,
.page-college-search {
  #edit-search-api-views-fulltext-wrapper {
    position: relative;
    margin-bottom: .2em;
    padding: 10px 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .block-title,
  .tc-facet-title {
    position: relative;
    margin-bottom: .2em;
    padding: 0 0 0 10px;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
  }

  #edit-search-api-views-fulltext {
    background-color: #fff;
  }

  .views-exposed-form {
    .views-exposed-widget.views-reset-button {
      position: absolute;
      top: -20px;
      right: 0px;
      padding: 0;

      #edit-reset {
        font-size: 0.7em;
        padding: 1px 5px;
        color: #337ab7;
      }
    }

    .views-exposed-widgets.clearfix {
      position: relative;
    }
  }

  .region-sidebar-first {
    border-radius: 4px;
    border-top: 10px solid $tcorange;
    -webkit-box-shadow: 0 0 7px 0 #AAA;
    -moz-box-shadow: 0 0 7px 0 #AAA;
    box-shadow: 0 0 7px 0 #AAA;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    font-size: 1.5rem;
    .block {
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
    }
    h2 {
      border-bottom: none;
      padding-bottom: 0;
    }
    .facetapi-limit-link {
       padding-left: 10px;
    }
  }

  section.tc_financial_aid,
  section.tc_housing {
    h2 {
      display: none;
    }
    ul {
      margin-bottom: 0;
    }
  }

  section.tc_dual_enroll {
    ul {
      margin-bottom: 0;
    }
  }

  div.aside {
    padding: 10px 10px 0 10px;
    font-size: 85%;
    color: grey;
  }

  ul.facetapi-facetapi-checkbox-links {
    padding-left: 10px;
    margin-bottom:0px;
  }

  input[type="checkbox"].facetapi-checkbox {
    margin-right: 5px;
  }

  .region-sidebar-first {
    .well {
      min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    .well-sm {
      padding: 9px;
      border-radius: 3px;
    }
  }
  #tc-adv-filters {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;

  }
  /* Hide search button on resource search page */
  #edit-submit-tc-resource-search {
    visibility: hidden;
  }
}

/* Remove search results when no search terms */
.page-college-search.tc-college-search-start {
  .main-container {
    .view-tc-solr-college-search {
      display: none;
    }
  }
}

.tc-college-search-start {
  .views-exposed-widget.views-submit-button {
    float: right;
    padding: 0;
    button {
      font-size: 0.7em;
      padding: 1px 5px;
      color: #337ab7;
      margin-top: 0;
    }
  }
}

/* Hide show all button with any results */
.tc-college-search-results {
  .views-exposed-widget.views-submit-button {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    button {
      visibility: hidden;
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;
    }
  }
}

.page-resource-search {
  #block-facetapi-dsmaazq7xahnlkh132zyrk1gxgncv8la {
    ul {
      padding-left: 10px;
    }
  }
  /* hide height of sumbit button as `visibility: hidden` leaves size in place */
  #views-exposed-form-tc-resource-search-resource-search-text-input {
    .views-submit-button {
      padding: 0;
      margin: 0;
      height: 0;
    }
  }
}

#block-facetapi-gkkn44mzr0b0a0uvm7labhst3ymihpyc .block-title,
#block-facetapi-qvtddqhn4mirms8bzmvb8kcxeq6bq3yg .block-title  {
  display:none
}

// Add disclosure triangles to all "Show more" and "Show fewer" Facet links
.facetapi-limit-link::before {
  font-family: 'Glyphicons Halflings';
  content: '\e114';
}
.facetapi-limit-link.open::before {
  font-family: 'Glyphicons Halflings';
  content: '\e113';
}

// Hide the "Find a college thats right for you + map" block after a search.
// Hide the "Find a college thats right for you" block after a search.
body.tc-college-search-results {
  #block-tc-facets-tc-program-intro-and-map,
  #block-tc-facets-tc-program-intro-and-map-mobile {
    display: none;
  }
}
/* Don't show map intro on phone size */
@media (max-width: $screen-sm-min) {
  #block-tc-facets-tc-program-intro-and-map {
    display: none;
  }
}
/* Don't show mobile into on non-phone size */
@media screen and (min-width: 768px) {
  #block-tc-facets-tc-program-intro-and-map-mobile {
    display: none;
  }
}

/*  Search Results List */

.search-result {
  border-bottom: #bbb solid 1px;
  padding-bottom: 1em;
}

.thinkcollege-site-search {
  .views-row {
    margin-bottom:15px;
    border-bottom: solid #ccc 1px;
    padding-bottom: 15px;

    .view-mode-search_result {
      .thinkcollege-search-result-content-type {
        font-family: $museo-cond-stack;
        color: $tcorange;
        display: inline;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.03125em;
        line-height: 1;
        margin: 0 0 .5em;
      }

      .field-name-title h2 {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 500;
        font-family: $museo-sans-stack;
        margin-top: 0;
      }

      .field-name-post-date {
        color: #999;
        font-size: .9em;
        line-height: 1.2;
        margin: .5rem 0;
      }
    }
  }
}

#views-exposed-form-tc-general-site-search-tc-general-search-block {
  padding-top: 12px;
  .views-exposed-widget.views-submit-button button {
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
  }
  .tc-general-search-block {

    #edit-submit-tc-general-site-search {
      margin: 0;
    }
    .views-exposed-widget {
      padding: 0;
    }
    #edit-search-api-views-fulltext-wrapper {
      width: 70%;
      #edit-search-api-views-fulltext {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
    #edit-submit-tc-general-site-search {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .views-exposed-widgets {
      margin: 0;
    }
  }
}

header #views-exposed-form-tc-general-site-search-tc-general-search-block .tc-general-search-block {
  float: right;
  .views-exposed-widgets {
    #edit-search-api-views-fulltext-wrapper {
      width: auto;
    }
  }
}
